:root {
  --accent: #ff6c00;
  --main-color-title: #ffffff;
  --second-color-title: #303030;
  --main-color-btn: #ffffff;
  --second-color-btn: #303030;
  --tipycal-margin: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent);
  background-color: transparent;
  border-radius: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------HEADER---------------------------------- */
.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 69px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent);
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  margin-left: 40px;
  color: var(--main-color-btn);
}

/* ----------------------------------HERO---------------------------------- */
.hero .container {
  display: flex;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.hero-list {
  width: 90px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent);
}

.hero-content {
  background-color: #303030;
  padding: 271px 448px 207px 99px;
  flex-grow: 1;
}

.hero-top-text {
  margin-bottom: var(--tipycal-margin);
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: var(--tipycal-margin);
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;

  color: var(--main-color-title);
}

.hero-bottom-text {
  max-width: 400px;
  color: #9da4bd;
}

/* ----------------------------------ABOUT US---------------------------------- */
.about {
  padding-top: 169px;
  padding-bottom: 91px;
}

.about .container {
  display: flex;
  align-items: center;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-top-text {
  margin-bottom: var(--tipycal-margin);
  color: #303030;
}
.about-title {
  margin-bottom: var(--tipycal-margin);
  color: var(--second-color-title);
}

.about-bottom-text {
  margin-bottom: var(--tipycal-margin);
  color: #555555;
}

.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: var(--second-color-btn);
}

/* ----------------------------------PRICES---------------------------------- */

.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #303030;
}
.prices-top-text {
  margin-bottom: var(--tipycal-margin);
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--main-color-title);
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  flex-grow: 1;

  padding: 30px 40px;
  border: 1px dashed #ffffff;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--tipycal-margin);
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-text-item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  display: block;
  margin: 0 auto;
  color: var(--main-color-btn);
}

/* ----------------------------------BENEFITS---------------------------------- */
.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits .container {
  display: flex;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;

  margin-right: 130px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-content {
  width: 500px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background: #f7f7f7;
  border: none;
}
.benefits-item-count {
  display: block;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  margin-bottom: var(--tipycal-margin);
  color: #303030;
}
.benefits-title {
  margin-bottom: var(--tipycal-margin);
  color: var(--second-color-title);
}

.benefits-bottom-text {
  color: #555555;
}

/* ----------------------------------MASTERS---------------------------------- */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-top-text {
  margin-bottom: var(--tipycal-margin);
  color: #303030;
}

.masters-title {
  margin-bottom: 44px;
  color: var(--second-color-title);
}

.masters-list {
  display: flex;
  margin-left: -30px;
}

.masterd-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
}

.masters-subtitle {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters-name {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent);
}

/* ----------------------------------GALLERY---------------------------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-top-text {
  margin-bottom: 44px;
  color: #303030;
}

.gallery-list {
  display: flex;
  margin-right: -30px;
}
.gallery-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}

/* ----------------------------------ONLINE---------------------------------- */
.wrap-online-contacts .container {
  display: flex;
}

.online {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 193px;
  padding-left: 58px;
  background-color: black;
}

.online-title {
  color: var(--main-color-title);
}

/* ----------------------------------CONTACTS---------------------------------- */
.contacts {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  background-color: grey;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--main-color-title);
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-link:not(:last-child) {
  margin-bottom: var(--tipycal-margin);
}

.contacts-subtitle {
  margin-bottom: var(--tipycal-margin);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ----------------------------------FOOTER---------------------------------- */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent);
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  margin-left: auto;
}
.footer-item:not(:last-child) {
  margin-right: 40px;
}
