.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  height: 50px;

  @media screen and (max-width: 479px) {
    flex-direction: column-reverse;
  }

  @include tablet {
    height: auto;
    align-items: center;
  }
}

.footer__copy-text {
  @include font(11px, 600, 1.36);
  letter-spacing: 0.2em;
  color: #9da4bd;

  @media screen and (max-width: 479px) {
    align-self: flex-start;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    align-self: flex-end;
  }
}

.soc-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: currentColor;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    align-self: flex-start;
  }
}

.soc-footer__item:not(:last-child) {
  margin-right: 40px;
}

.soc-footer__link {
  @include font(11px, 600, 1.36);
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}
