.bottom-text {
  @include font(16px, null, 1.62);
  letter-spacing: 0.02em;

  &--light {
    color: #9da4bd;
  }
  &--dark {
    color: #555555;
  }

  @include desktop {
    @include font(18px, null, 1.67);
  }
}
