.title {
  font-family: 'Raleway', sans-serif;

  @include font(42px, 700, 1.16);
  letter-spacing: 0.05em;

  &--light {
    color: var(--main-color-title);
  }

  &--dark {
    color: var(--second-color-title);
  }
}
